# select range
- kdtree
- redies

In [1]:
import redis

r = redis.StrictRedis(host='172.17.0.2', port=6379, db=0)

In [77]:
%matplotlib inline
import json
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(color_codes=True)

import numpy as np
import pandas as pd
from sklearn.neighbors import KernelDensity

#將經緯度轉為TWD97座標(單位:公尺)
from LatLonToTWD97 import LatLonToTWD97
c = LatLonToTWD97()

rentdf= pd.read_csv('./data/tag_010.csv')

with open('./data/typeid.json') as f:
    typeid = dict(json.load(f))

In [70]:
import pymysql

#connect maria rdb
db = pymysql.connect(
        host='172.17.0.3',
        user='root',
        passwd='1234',
        db='rental',
        charset='utf8mb4'
    )
#設置cursor
cursor = db.cursor()
#cursor.execute('SELECT * FROM typeID;')

In [17]:
cursor.execute('describe rentInfo;')

21

In [18]:
tmp = cursor.fetchall()

In [33]:
columns = pd.DataFrame(list(tmp))[0].values

In [71]:
columns

array(['ID', 'url', 'update_date', 'title', 'address', 'label', 'temp',
       'sex', 'smoke', 'pet', 'cook', 'space', 'rent', 'floor', 'stories',
       'pattern', 'landlord', 'description', 'lat', 'lng', 'cityID'], dtype=object)

In [72]:
cursor.execute('select * from rentInfo;')

24799

In [73]:
df = pd.DataFrame(list(cursor.fetchall()))

In [74]:
df.columns = columns

In [79]:
outputdf = pd.merge(rentdf, df, on='ID', how='left')

In [83]:
outputdf['lat'] = outputdf['lat'].astype(np.float64)
outputdf['lng'] = outputdf['lng'].astype(np.float64)

In [87]:
outputdf[0:1].T

                                                             0
ID                                                           1
twd97                    (294397.3348892754, 2785990.99944911)
food:avgcost                                             124.5
tag:pet                                                  False
tag:transport                                            False
tag:capital                                              False
tag:home                                                  True
tag:sport                                                 True
tag:culture                                              False
tag:safe                                                 False
tag:food                                                 False
url                 http://rent.yungching.com.tw/house/967334/
update_date                                         2016-12-29
title                                                     首鼎四房
address                                              新北市淡水區新春街
label                                                        住
temp                                                         N
sex                                                          N
smoke                                                        N
pet                                                          N
cook                                                         Y
space                                                    62.34
rent                                                     25000
floor                                                        5
stories                                                      0
pattern                                                     水泥
landlord                                                    NA
description    房屋描述首鼎四房交通便利任你行任您輕鬆散步的單純社區文風鼎盛置身優質學區豪華得意居有薪既可入住
lat                                                    25.1818
lng                                                     121.44
cityID                                                     251

In [98]:
outputdf.to_csv('./data/project_table.csv')